<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.queen.mybatis.mapper.UserMapper">

    <resultMap type="com.queen.mybatis.bean.User" id="userResultMap">
        <id property="id" column="id"/>
        <result property="loginId" column="loginId" />
        <result property="userName" column="userName"/>
        <result property="note" column="note"/>
        <!--assocication可以指定联合的JavaBean对象
            property="role"指定哪个属性是联合的对象
            javaType:指定这个属性对象的类型
        -->
        <association property="role" javaType="com.queen.mybatis.bean.Role">
            <id column="role_id" property="id"/>
            <result column="roleName" property="roleName"/>
        </association>
    </resultMap>

    <select id="getUserById" resultMap="userResultMap">
		select m.id id, m.loginId loginId, m.userName userName, m.roleId roleId,m.note note, n.id role_id, n.roleName roleName
			from t_user m left join t_role n on m.roleId=n.id
			where m.id=#{id}
	</select>

</mapper>